# .coveragerc to control coverage.py
[run]
branch = True

include =
    src/py/*.py
    test/*.py

omit =
    env/*
    /home/ubuntu/virtualenvs/*

parallel = True

[report]
omit = env/*
        /home/ubuntu/virtualenvs/*
