# .coveragerc to control coverage.py
[run]
branch = True
omit =
    env/*
    /home/ubuntu/virtualenvs/*

include =
    pmt.py
    src/py/*.py

#parallel = True

[report]
omit = env/*
        /home/ubuntu/virtualenvs/*
