<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
	var form;
	var stripe_public_key;

	if (window.location.href.includes('stg')) {
		stripe_public_key = "pk_test_X6yYhJKHAWkDDRcPwr9pwHEM";
		//console.log(stripe_public_key);
	}
	else if (window.location.href.includes('listenmoneymatters')) {
		stripe_public_key = "pk_live_TVyiirDwMHphmVC8Jw79Jtcn";
		//console.log(stripe_public_key);
	} else {
		stripe_public_key = "pk_test_X6yYhJKHAWkDDRcPwr9pwHEM";
		//console.log(stripe_public_key);
	}
</script>

<p>
	One of the first things I learned when I started to code is how to break down a problem. 
	Most projects seem complex at first glance but once you pick them apart you discover they are really just a bunch of simple steps. 
</p>

<p>
	<b>Personal finance is no different only the ultimate goal isn’t to manage your money well, it’s Freedom. Freedom to do things that matter.</b>
</p>

<p>
	While I joke around about “retiring”, it’s not my actual goal. 
	In fact, it’s been well documented that <a href="http://www.bbc.com/capital/story/20130813-the-dark-side-of-the-golden-years">retirement 		will</a> <a href="https://www.bloomberg.com/view/articles/2013-06-11/retirement-will-kill-you">kill you.</a> 
	The goal shouldn’t be to avoid work, it’s to do meaningful work where <i>you’re in control</i>.
</p> 

<p>
	Four years ago I set out to accomplish just that. In that time I built a <a href="https://www.listenmoneymatters.com/">personal finance resource</a> that <i>every month helps hundreds of thousands of people</i> tackle their money problems. Hours of podcast episodes and hundreds of articles later I’ve been able to build a business that helps educate those in need for free while earning more than I <a href="https://www.linkedin.com/salary/explorer?titleId=2732&regionCode=70">earn at my day job</a>.
</p>

<p>
	Over the course of those four years the most rewarding part by far has been meeting and helping the audience. I believe <b>it’s my life’s work</b> - 	my way to “make a dent in the universe” (<a href="http://www.macworld.com/article/1162827/macs/steve-jobs-making-a-dent-in-the-universe.html">thanks Steve!</a>).
</p>

<p>
	To be clear, <b>I’m not a Registered Investment Advisor and I don’t have a single fancy acronym after my name.</b> I haven’t learned by taking tests, I’ve learned by doing and being educated by hundreds of experts.
</p>

<p>
	Building a business? There are few things that excite me more than talking shop. I’ve learned quite a lot during my journey!
</p>

<p>
	<b>If any of that resonates with you than I’d love to chat. </b>
</p>
