<p>
	I took an interest in personal finance after getting engaged. I had a decent job and didn't really hurt for money but I'd never actually seen my net worth or thought about what I was saving for. Getting married changed my mind and awakened me to my responsibility. That's when I realized personal finance was really interesting so I nerded out hard!
</p>

<p>	
	It wasn't long before I decided the consultant's traveling life wasn't for me. I went back to school to get my MBA in Financial Planning. I worked with a traditional firm for a year and while the financial planning piece was interesting there was something missing.
</p>

<p>
	The problem? Most financial planning is only geared towards clients who are old and rich! I'm neither of those and wanted to help out others in the same situation. After passing my CFP registered exam I left my job working with traditional clients and started a coaching business.
</p>	

<p>
	I absolutely love working on personal finance issues because it gives me such an opportunity to make a positive change. I work for a flat fee because that way there is no conflict on interest with my advice. You get exactly what you pay for- unbiased advice. I will tell you to focus on debt instead of investments if that's what makes the most sense in this moment. That wouldn't work if I got a commission. I work virtually to keep costs lower but focus on providing true value.
</p>

<p>
	I'm a firm believer in the power of compound growth so any small change I can make now in life will have a huge impact over the rest of your life. Do you want to make that change? Let's get working together!
</p>	