<p>
	<i>
		"It's not about the money, money, money" - Jessie J.
	</i>
</p>

<p>
	Yes, quoting a female pop star is a bold move to explain my approach to financial coaching, but hear me out.
</p>

<P>
	<b>
	Most of the talk around personal finance is centered around money and numbers.
	</b>
</P>		

<p>
	<ul>
		<li> "10 ways to build your best budget!"</li>
		<li> "How to invest for 12% returns!"</li>
		<li> "15 easy ways to earn $100k!"</li>
		<li> “Spend less than you make you turd!!"</li>
	</ul>	
			
</p>

<p>
	Okay, I threw that last one in there, but it's to make a point. Most of what is talked about in the world of PF is rooted in “logic” - focusing on numbers, tools, and tactics. 
</p>

<p>	
	Yet we can’t talk about money without acknowledging the other and often trickier parts of the equation - <b> behaviors, habits, and emotions </b>(like guilt, stress, anxiety) that play an equally large part in our financial lives. 
</p>
	
<p>		
	Numbers and tools and tactics are an important piece of the puzzle, but they are only half of it. Just as important is you knowing understanding your motivation behind wanting money. 
</p>	

<p>
	<i>
		Why are you building a budget in the first place? What will 15% returns in the stock market get you? How would your life be any more meaningful making $100k than it is now?
	</i>	
</p>	

<p>
	That last part - helping people manage their behaviors, habits, and emotions - is what I am very good at and where my value add is. Just like dieting, the main tenet of being financially successful is “make more than you spend.” <b>It’s not rocket science.</b>
</p>	

<p>	
	Yet the reason most people fail is not because they can’t do addition and subtraction, it’s because they need help discovering their why and what will truly motivate them to do the necessary work. 
</p>	

<p>	
	<b> They need help dreaming big, setting goals, being held accountable and the occasional kick in the ass along the way.
	</b>
</p>	

<p>
	At this point, you're probably thinking "Okay, he quotes Jessie J, and that's interesting. But I’m wondering:
</p>
	
<p>	
	<ul>
		<li> What working together would look like? </li>
		<li> What would I actually get out of working together? </li>
		<li> Would we be a good fit? </li>
	</ul>	
</p>	

<p>
	If you want to know more about what working together might look like, scroll down to the <b>“Working With Me”</b> section below where I dive into detail about that. 
</p>	
	
<p>	
	There currently are two options for working together - a group coaching program and a one-on-one coaching program - so take the time to look into which one (if any) you think might be the right fit for you.
</p>	

<p>
	Regarding what you would get out of working with me, I can’t make promises. There are too many variables such as where you’re at financially, how hard you’re willing to work, how receptive you are to coaching, etc. <b> But here is what I can tell you.</b> If we work together, I commit to not just helping you improve your financial life, but your life-life. That's because they actually are the same thing. 
</p>

<p>	
	<b> How you spend your money is a reflection of what you care about in life.</b> Therefore, by helping you with your money I will help you live a more intentional, fulfilled, meaningful, Awesome and ultimately badass life.
</p>		

<p>
	Yes, you will probably start saving more money than you ever have, and potentially start making more money as well. But to be honest, <b>the most important thing you will get out of working together is more freedom.</b>
</p>

<p>	
	Freedom from the stress and anxiety and guilt that comes from being in debt. The freedom that comes with no longer being stuck in a job you hate because of the money. A sense of freedom because you finally realize that what you want out of life isn't that expensive or that hard to get once you're intentional about going after it.
</p>	

<p>
	Lastly, would we be a good fit? That’s a hard one to answer. All you know about me right now are from words on a page, and I’ve never met you to know how we’d get along. But I can tell you what ultimately makes people say yes to working together: they like me as a person, they trust me, and they truly believe I can help them live a more awesome life.
</p>	

<p>
	Therefore, if my approach to money/life resonates with you and your gut is saying <i>“I want to learn more about this guy" </i>, go ahead and schedule a free 30-minute call with me by clicking on the button below. 
</p>

<p>	
	We’ll have a chat about where you currently are at, where you’d like to be, and how you might be able to get there. We’ll also take some time just to get to know each other since that’s obviously important too.
</p>

<p>
	If you ultimately don’t think we’re a good fit, either now or at the end of our call, that’s totally fine as well. But don’t simply run off - let me help connect you to other people or resources that might be a better fit. I’m ultimately here to help people live more meaningful, awesome lives, so whether that’s with me or not I want to do my part.	
</p>

<p>
	Lastly, thank you for your eyeballs and more importantly your time. Whether we work together or not, I wish you the best in your journey to find both financial freedom and life freedom as well!
</p>	

<p>
	Cheers,
Garrett
</p>