{% extends "/property/base-property-body.html" %}

{% block content %}
		
    <div class="masthead">

        <!-- starts carousel -->

        <div id="masthead-carousel" class="carousel masthead-carousel">
          <div class="carousel-inner">

            <div class="item active" style="height: 785px; background: #202a2f;">

              <br class="xs-30 sm-60">

              <div class="container">

                <div class="row">
                  
                  <div class="col-md-10 col-md-offset-1 masthead-text text-center animated fadeIn">
                    <h2 class="masthead-title">Research and evaluate<br/> rental properties.</h2>

                    <div class="masthead-actions">
                      <a href="/signup" class="btn btn-primary btn-landingpage btn-jumbo">
                      	Create a Free Account
                      </a>
                    </div> <!-- /.masthead-actions -->


                    <br class="xs-50">

                  </div> <!-- /.masthead-text -->

                  <div class="col-md-12 masthead-img animated fadeInUpBig">
                    <img src="{{ url_for('static', filename='img/index_browser.png') }}" alt="slide2" class="img-responsive" />     
                  </div> <!-- /.masthead-img -->

                </div> <!-- /.row -->

              </div> <!-- /.container -->

            </div> <!-- /.item -->


          </div>  <!-- /.carousel-inner -->

            
        </div> <!-- /.masthead-carousel -->

    </div> <!-- /.masthead -->



    <div class="content landing_content">

      <section id="section-features" class="home-section">

        <br class="sm-30">

          <div class="feature-lg figure-right">

            <div class="row">
	            
	            <div class="container">
              
              <div class="col-sm-6 col-sm-push-6">
                <figure class="feature-figure"><img src="{{ url_for('static', filename='img/cash_flow_portlet.png') }}" class="img-responsive landing-page-feature-image-right" alt=""></figure>
              </div><!-- /.col -->
              
              <div class="col-sm-6 col-sm-pull-6">

                <br class="xs-30 sm-0">
 
                <div class="feature-content">
                  <h3>Will that rental property <b>cash flow?</b></h3>

                  <p class="lead">Make a well researched, data-driven decision.</p>
                  <ul class="icons-list">
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Find out if you're getting a good deal and what your costs look like.
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      As you negotiate your deal, see how changes affect your cash flow.
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Save your calculations on the properties you own and are interested in.
                    </li>
                  </ul>
                </div> <!-- /.feature-content -->
              </div><!-- /.col -->
              
        		</div> <!-- /.container -->
              
            </div> <!-- /.row -->

          </div> <!-- /.feature-lg -->


          <br class="xs-50 sm-100">

          <div class="feature-lg">

            <div class="row alternate_row">
	            
	            <div class="container">
              
              <div class="col-sm-6">
                <figure class="feature-figure"><img src="{{ url_for('static', filename='img/projection_graph.png') }}" class="img-responsive landing-page-feature-image-left"  style="width: 90%;" alt=""></figure>
              </div><!-- /.col -->
              
              <div class="col-sm-6">
                <br class="xs-30 sm-0">

                <div class="feature-content">
                  <h3>How will your property <b>perform over time</b>?</h3>

                  <p class="lead">Get the answer with beautiful graphs.</p>
                  <ul class="icons-list">
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      8 Simple Ways to Actually Grow Wealth
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Mastering Mint
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      10 Day Debt Reduction Plan
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      The Money Talk: Guide to Financial Compatability
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Member-only podcasts, spreadsheets and more.
                    </li>
                  </ul>
                </div> <!-- /.feature-content -->
              </div><!-- /.col -->
              
            </div> <!-- /.row -->
            
            </div> <!-- /.container -->

          </div> <!-- /.feature-lg -->

		  <br class="xs-50 sm-100">

          <div class="feature-lg figure-right">

	            <div class="container">

            <div class="row">
              
              <div class="col-sm-6 col-sm-push-6">
                <figure class="feature-figure"><img src="{{ url_for('static', filename='img/mortgage_graph.png') }}" class="img-responsive landing-page-feature-image-right" alt=""></figure>
              </div><!-- /.col -->
              
              <div class="col-sm-6 col-sm-pull-6">

                <br class="xs-30 sm-0">

                <div class="feature-content">
                  <h3>Make <b>data-driven</b> decisions.</h3>

                  <p class="lead">Delete your spreadsheets, we automatically pull in all the data you need.</p>
                  <ul class="icons-list">
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      8 Simple Ways to Actually Grow Wealth
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Mastering Mint
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      10 Day Debt Reduction Plan
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      The Money Talk: Guide to Financial Compatability
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Member-only podcasts, spreadsheets and more.
                    </li>
                  </ul>
                </div> <!-- /.feature-content -->
              </div><!-- /.col -->
              
            </div> <!-- /.row -->
            
            </div> <!-- /.container -->

          </div> <!-- /.feature-lg -->

		  <br class="xs-50 sm-100">

          <div class="feature-lg">

            <div class="row alternate_row">
              
				<div class="container">
              
              <div class="col-sm-6">
                <figure class="feature-figure"><img src="{{ url_for('static', filename='img/ebook_resources.png') }}" class="img-responsive landing-page-feature-image-left"  style="width: 90%;" alt=""></figure>
              </div><!-- /.col -->
              
              <div class="col-sm-6">
                <br class="xs-30 sm-0">

                <div class="feature-content">
                  <h3>Access to our exclusive resources and guides.</h3>

                  <p class="lead">Learn how to crush your debt, budget and build meaningful wealth.</p>
                  <ul class="icons-list">
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      8 Simple Ways to Actually Grow Wealth
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Mastering Mint
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      10 Day Debt Reduction Plan
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      The Money Talk: Guide to Financial Compatability
                    </li>
                    <li>
                      <i class="icon-li fa fa-check-circle text-green"></i>
                      Member-only podcasts, spreadsheets and more.
                    </li>
                  </ul>
                </div> <!-- /.feature-content -->
              </div><!-- /.col -->
              
            </div> <!-- /.container -->
              
            </div> <!-- /.row -->

          </div> <!-- /.feature-lg -->

          </div> <!-- /.container -->

        </section>




        <section id="section-benefits" class="home-section" style="background-color: #f3f3f3;">

          <div class="container">

            <div class="heading-block heading-minimal heading-center">
              <h1>
                Great Features & Benefits
              </h1>
            </div> <!-- /.heading-block -->


            <div class="row">

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-gift feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Wealth Building Tools</h3>

                  <p class="feature-sm-content">
	                  We're working behind the scenes to build tools that will help grow your wealth and manage your finances. 
	                  In addition to evaluating real estate, soon you'll be able to track your money, plan for retirement and more!
	                  
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-lightbulb-o feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Brilliant People</h3>

                  <p class="feature-sm-content">
                    The creators of some of our best stuff live in here. They're smart, driven people with a lot of knowledge and a passion to share. 
                    From Business Building to Budget Meals, you'll be able to bounce ideas off of other like-minded people.                   
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-group feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Community</h3>

                  <p class="feature-sm-content">
                    We're experts, finance nerds and newbies dedicated to answering tough money questions. When you fall off the financial wagon, we'll help you get back on. We're the friends you can trust and count on.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->



            <div class="row">

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-play-circle feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Member-Only Podcasts</h3>

                  <p class="feature-sm-content">
					<b>Rich Tips:</b> We bring our guests back on to dig into their favorite resources and insights on life, business and money.<br/>
					<b>Ask Anything:</b> Laura and Andrew answer some of the most interesting questions on money and life sent in by you.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-cloud-download feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Downloadable Extras</h3>

                  <p class="feature-sm-content">
                    Want Andrew's Net Worth tracking spreadsheet? Need the historical mortgage rates since 1971 to do nerdy things with? You'll find all that and more inside.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-gift feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Pay It Forward</h3>

                  <p class="feature-sm-content">
                    Become educated, educate others and support education. Help close the financial knowledge gap. 
                    Learn by talking, master by teaching. Be the agent of change.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->

        </div> <!-- /.container -->

      </section>



      <section id="section-testimonials" class="home-section">

        <div class="container">

          <div class="heading-block heading-minimal heading-center">
            <h1>
              We're the friends you can talk shop with.
            </h1>
          </div> <!-- /.heading-block -->


          <div class="row">

            <div class="col-sm-4">

              <div class="testimonial">

                <div class="testimonial-icon bg-secondary">
                  <i class="fa fa-quote-left"></i>
                </div> <!-- /.testimonial-icon -->

                <div class="testimonial-content">
					I love being a part of the LMM Community! It's a diverse group of kind and knowledgeable 
					people who are always willing to provide feedback on ideas, discuss financial progress, or just talk about a great book. 
					You are a product of the people you surround yourself with and I am glad that I include 
					these people as part of my surroundings!
                </div> <!-- /.testimonial-content -->

                <div class="testimonial-author">
                  <div class="testimonial-image"><img alt="" src="https://www.listenmoneymatters.com/wp-content/themes/LMMv4/images/join_allison.jpeg"></div>

                  <div class="testimonial-author-info">
                    <h5><a href="#">Allison</a></h5>
                  </div>
                </div> <!-- /.testimonial-author -->

              </div> <!-- /.testimonial -->

              <br class="xs-30">

            </div> <!-- /.col -->

            <div class="col-sm-4">

              <div class="testimonial">

                <div class="testimonial-icon bg-secondary">
                  <i class="fa fa-quote-left"></i>
                </div> <!-- /.testimonial-icon -->

                <div class="testimonial-content">
					Learn from others who are dealing with similar issues as you. Help someone who is one step behind you in their 
					journey, and share your own process with them. Connect with entrepreneurially minded people too, and be 
					inspired to move your life forward. There’s nothing to prove here, but so much to benefit from.	
                </div> <!-- /.testimonial-content -->

                <div class="testimonial-author">
                  <div class="testimonial-image"><img alt="" src="https://www.listenmoneymatters.com/wp-content/themes/LMMv4/images/join_william.png"></div>

                  <div class="testimonial-author-info">
                    <h5><a href="#">William</a></h5>
                  </div>
                </div> <!-- /.testimonial-author -->

              </div> <!-- /.testimonial -->

              <br class="xs-30">

            </div> <!-- /.col -->

            <div class="col-sm-4">

              <div class="testimonial">

                <div class="testimonial-icon bg-secondary">
                  <i class="fa fa-quote-left"></i>
                </div> <!-- /.testimonial-icon -->

                <div class="testimonial-content">
					It's nice to know that there is a place to run to if you hit a snag in the financial road. Nothing beats collective wisdom 
					and encouragement to do better with your money than a diverse Community striving to do the same. The Community is not 
					only a place to talk money, it's a place for support and networking. You never know who you might meet, job you might 
					take or word of advice you might hear that might help you in your pursuit of financial prowess!
                </div> <!-- /.testimonial-content -->

                <div class="testimonial-author">
                  <div class="testimonial-image"><img alt="" src="https://www.listenmoneymatters.com/wp-content/themes/LMMv4/images/join_chloe.png"></div>

                  <div class="testimonial-author-info">
                    <h5><a href="#">Chloe</a></h5>
                  </div>
                </div> <!-- /.testimonial-author -->

              </div> <!-- /.testimonial -->

            </div> <!-- /.col -->

          </div> <!-- /.row -->

      </section>


    </div> <!-- /.content -->

		
<div class="clearfix"></div>
		
{% endblock %}