{% extends "/property/base-property-body.html" %}

{% block content %}

	<div class="content">
		<div class="container">
			
			<center>
				<h1 style="font-size: 65px; padding-top: 40px;">BOOM! <span class="text-success">You're in.</span></h1>
				
				<h4><a href="/property">Get started evaluating and tracking rental properties.</a></h4>
				
				<h4><a href="https://www.listenmoneymatters.com/community/">Have your questions answered by the Community.</a></h4>
				
				<h4><a href="/member-exclusives/">Get our podcast ad-free, two member-only podcasts, our books and more.</a></h4>
			
				<br/>
				<p><a href="/property"><img src="/static/img/congratulations_boom.png" class="boom" /></a></p>
			</center>
			
			
			
		</div> <!-- /.container -->
	</div> <!-- .content -->

{% endblock %}