{% extends "/property/base-property-body.html" %}

{% block content %}

		<!-- BEGIN FEATURE -->
		<div class="feature">
			<div class="container">
				
				<center>
				<h1>Will this rental property cashflow?</h1>
				
				<div class="centerme">
					
					<div id="locationField">
						<div class="has-feedback has-feedback-left">
					    	<input id="autocomplete" class="form-control" placeholder="Enter an address" onFocus="geolocate()" type="text"></input>
					    	<div class="form-control-feedback">
								<i class="fa fa-search"></i>
	                        </div>
                        </div>
				    </div>
				    
				    <div style="display: none;">
				        <table id="address">
							<tr>
								<td class="label">Street address</td>
								<td class="slimField">
									<input class="field" id="street_number" disabled="true"></input>
								</td>
								<td class="wideField" colspan="2">
									<input class="field" id="route" disabled="true"></input>
								</td>
							</tr>
							<tr>
								<td class="label">City</td>
								<td class="wideField" colspan="3">
									<input class="field" id="locality" disabled="true"></input>
								</td>
							</tr>
							<tr>
								<td class="label">State</td>
								<td class="slimField">
									<input class="field" id="administrative_area_level_1" disabled="true"></input>
								</td>
								<td class="label">Zip code</td>
								<td class="wideField">
									<input class="field" id="postal_code" disabled="true"></input>
								</td>
							</tr>
							<tr>
								<td class="label">Country</td>
								<td class="wideField" colspan="3">
									<input class="field" id="country" disabled="true"></input>
								</td>
							</tr>
					    </table>
				    </div>
				    
				    <div id="suggestions"></div>
				</div>	
				<div class="clearfix"></div>
				</center>
				
			</div>
		</div>
		<div class="clearfix"></div>
		<!-- END FEATURE -->
		
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						
						<div class="portlet portlet-boxed">
							<div class="portlet-header">
								<h4 class="portlet-title">
									Recently Viewed Properties
								</h4>
							</div> <!-- /.portlet-header -->
		
							<div class="portlet-body" >
								<table class="table keyvalue-table">
									<tbody>
										{% for property in property_history %}
											{% set url = property['action_text'].split('|') %}
										<tr>
											<td>
												<a href="./property/{{ url[0] }}/{{ url[1] }}/overview">
													{{ url[0]|pretty_address }}
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
					
					<div class="col-md-6 col-sm-6">
						
						<div class="portlet portlet-boxed">
							<div class="portlet-header">
								<h4 class="portlet-title">
									My Portfolios
								</h4>
							</div> <!-- /.portlet-header -->
		
							<div class="portlet-body" >
								<table class="table keyvalue-table">
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>

		
{% endblock %}