{% extends "/property/base-property-body.html" %}

{% block content %}
  
	<div class="content-page">
	
		<div class="content">
		
			<div class="container"><div id="message">{{ header.message|safe }}</div></div>
			
			<div class="container">
				
				<div class="page-header">
					<h3 class="page-title">Frequently Asked Questions</h3>
				</div>
				
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="portlet portlet-boxed">
							<div class="portlet-body">
								
								<div id="accordion-settings" class="panel-group accordion-simple">
								
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-1a">
													<i class="fa faq-accordion-caret"></i>
													What is Pro?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-1a" class="panel-collapse collapse">
											<div class="panel-body">
												<p>Pro is a suite of tools that we wanted to manage our money. It's early but if you're interested in hearing what we're working on just, just <a href="javascript:Intercom('showNewMessage');">ask</a>! </p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-1">
													<i class="fa faq-accordion-caret"></i>
													How do I use this tool? Help, nothing makes sense to me!
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-1" class="panel-collapse collapse">
											<div class="panel-body">
												<p>We were hoping to have awesome ScreenFlow videos out for launch but we wound up doubling up our time squashing bugs. If you have any questions or are confused, just hit that green chat button on the bottom right of your screen. Messages go straight to Laura and I - we’ll make sure your questions don’t go unanswered!</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-2">
													<i class="fa faq-accordion-caret"></i>
													Is this tool really free?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-2" class="panel-collapse collapse">
											<div class="panel-body">
												<p>For now, yes, consider it a free trial. We’re hard at work on including research, projections and even rental property management into the tool. When we do there we will either try a trial model or a "pay for advanced features” model. If you have any ideas, requests or concerns, <a href="mailto:team@listenmoneymatters.com">let us know!</a></p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-3">
													<i class="fa faq-accordion-caret"></i>
													How is everything calculated? Can you share your formulas?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-3" class="panel-collapse collapse">
											<div class="panel-body">
												<p>Absolutely! How could you possibly trust our calculations if you couldn’t replicate them yourself? You can find a full list of our formulas by scrolling down to the bottom of this page.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-4">
													<i class="fa faq-accordion-caret"></i>
													Where are you getting your data from?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-4" class="panel-collapse collapse">
											<div class="panel-body">
												<p>Most of our data is coming from <a href="http://www.zillow.com">Zillow</a> for the time being but that’s likely to change soon. We think we can get even more accurate data and projections.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-5">
													<i class="fa faq-accordion-caret"></i>
													How are you determining Property Tax and Property Insurance?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-5" class="panel-collapse collapse">
											<div class="panel-body">
												<p>When it comes to Property Insurance there is unfortunately no easy way to get this number. From what I can tell in my research and personal experience, these quotes are very subjective and almost seem to be made up on the fly. We’re working on improving this estimation. When it comes to Property Tax, we’re also estimating.</p>  
												<p>In the meantime, we have a data source we’re investigating this will be a much more accurate number soon. Until then we recommend double checking the actual number on Zillow.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#faq-general-6">
													<i class="fa faq-accordion-caret"></i>
													What are you going to do with the email address I signed up with?
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="faq-general-6" class="panel-collapse collapse">
											<div class="panel-body">
												<p>We rarely send emails. That said, we’ll occasionally email you with major product updates but you can swiftly unsubscribe from those updates if you’d like. Of course we’d never share your email address with anyone, we’ve got class.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
								
								</div> <!-- /.accordion -->
							
							</div> <!-- /.portlet-body -->
						</div> <!-- /.portlet -->
					</div> <!-- /.col -->
            
					<div class="col-sm-4 col-md-4">
					
						<div class="portlet portlet-boxed">
						
							<div class="portlet-body">
							
								<div class="well text-center">
									<p><i class="fa fa-question-circle fa-5x text-muted"></i></p>
									<h5>Have a Question?</h5>
									<p>Ask us about rental properties, how to use the this tool and anything in between.</p>
									<a href="javascript:Intercom('showNewMessage');" class="btn btn-success">Get it Answered!</a>
								</div> <!-- /.well -->
							
							</div> <!-- /.portlet-body -->
						
						</div> <!-- /.portlet -->
					
					</div>
					
					<div class="col-sm-8 col-md-8">
						<div class="page-header">
							<h3 class="page-title">Formulas</h3>
						</div>
						
						<div class="portlet portlet-boxed">
							<div class="portlet-body">
								<div id="accordion-settings" class="panel-group accordion-simple">
								
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-1">
													<i class="fa faq-accordion-caret"></i>
													Estimated Value and Rent Estimate
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-1" class="panel-collapse collapse">
											<div class="panel-body">
												<p>These values we currently pull from <a href="http://www.zillow.com">Zillow.com</a>. These values are estimates, although Zillow calls them <a href="http://www.zillow.com/zestimate/">Zestimates</a>.</p>
												<p>Zillow is usually very close but the exact values depend on many local factors. Your milage may vary.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-2">
													<i class="fa faq-accordion-caret"></i>
													Annual NOI
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-2" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Annual NOI] = [Yearly Rent] - [Yearly Property Mgmt] - [Insurance] - [Taxes] - [Yearly HOA Misc]</b></p>
												<p><b>Net operating income (NOI)</b> is simply the annual income generated by an income-producing property 
												after taking into account all income collected from operations, and deducting all expenses incurred from operations.
												NOI excludes any financing or tax costs incurred by the owner/investor. In other words, the NOI 
												is unique to the property, rather than the investor.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-3">
													<i class="fa faq-accordion-caret"></i>
													Gross Yield
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-3" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Gross Yield = [Yearly Rent] / [Purchase Price] * 100</b></p>
												<p><b>Gross Yield</b> is the raw return of the property. It's a great first-step comparison metric.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-4">
													<i class="fa faq-accordion-caret"></i>
													Capitalization Rate (Cap Rate)
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-4" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Cap Rate] = [Annual NOI] / [Purchase Price] * 100</b></p>
												<p><b>Cap Rate</b> is the annual return on investment without financing. Return if you bought the property in full, in cash.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-5">
													<i class="fa faq-accordion-caret"></i>
													Cash on Cash
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-5" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Cash on Cash] = [Annual Cash Flow] / [Purchase Cost] * 100</b></p>
												<p><b>Cash on Cash (CoC ROI)</b> is the actual return you will get on this investment. It takes into account all 
												property specific expenses (NOI), the cost of financing and how much you paid for the entire deal.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-6">
													<i class="fa faq-accordion-caret"></i>
													Cash Flow - Annual
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-6" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Annual Cash Flow] = [Annual NOI] - [Yearly Total Mortgage Payment]</b></p>
												<p><b>Annual Cash Flow</b> is your profit after all expenses. If this number isn't positive that means 
													you'll lose money every year on this property. If it's positive, 
												that's how much you'll earn. This doesn't account for vacancy or things breaking. We do estimate those for you in Cost Assumptions 
												and suggest you hold that money aside just in case.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-7">
													<i class="fa faq-accordion-caret"></i>
													Cash Flow - Monthly
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-7" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Monthly] = [Monthly NOI] - [Mortgage Payment]</b></p>
												<p><b>Monthly Cash Flow</b> is our monthly profit after all expenses. This is just Annual Cash Flow divided by 12. It's also the sexiest number on this page.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-8">
													<i class="fa faq-accordion-caret"></i>
													Cash Flow - Medium Term
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-8" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Medium Term] = [Monthly NOI] - [Mortgage Payment] - [CapEX Estimate] - [Vacancy Estimate]</b></p>
												<p><b>Medium Term Cash Flow</b> is an estimation accounting for Vacancy and minor/major repairs. Things break and need to be replaced - we should be prepared. 
													You should strive to be positive here.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-9">
													<i class="fa faq-accordion-caret"></i>
													Cash Flow - Long Term
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-9" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Long Term] = [Monthly Rent] - ([Monthly Rent] * 0.50) - [Mortgage Payment] - [HOA Misc]</b></p>
												<p><b>Long Term Cash Flow</b> is like the 15% rule only much more pessimistic. In the very long term you may need to replace a roof, renovate a kitchen and 
												account for vacancy. While not necessary, if you are positive here you can weather most any storm and still make money. 
												Formula: 50% of monthly Rent minus the monthly Mortgage Payment.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-10">
													<i class="fa faq-accordion-caret"></i>
													Cash Flow - First Year Equity
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-10" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[First Year Equity] = SUM( [First Year Mortgage Principle Payments] )</b></p>
												<p><b>First Year Equity</b> is how much equity you will gain in the property by making mortgage payments. You can absolutely consider 
												this part of your profit.</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-11">
													<i class="fa faq-accordion-caret"></i>
													Property Taxes (limited estimate)
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-11" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Tax Estimate] = [Purchase Price] * 0.01</b></p>
												<p>It's currently a very rough estimate!</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-12">
													<i class="fa faq-accordion-caret"></i>
													Property Insurance (limited estimate)
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-12" class="panel-collapse collapse">
											<div class="panel-body">
												<p><b>[Insurance Estimate] = [Purchase Price] / 1000 * 4.6</b></p>
												<p>It's currently a very rough estimate!</p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
									
									<div class="panel">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-settings" href="#formula-13">
													<i class="fa faq-accordion-caret"></i>
													Vacancy Rate (limited estimate)
												</a>
											</h4>
										</div><!-- .panel-heading -->
									
										<div id="formula-13" class="panel-collapse collapse">
											<div class="panel-body">
												<p>It currently defaults to 5%. In the not too distant future this will be the actual vacancy rate. To get a better estimate, use the <a href="http://www.census.gov/housing/hvs/index.html">US Housing Census Data</a></p>
											</div><!-- .panel-body -->
										</div> <!-- ./panel-collapse -->
									</div><!-- .panel -->
								
								</div> <!-- /.accordion -->
								
							</div>
						</div>
					</div>
					
				</div> <!-- /.row -->
							
			</div> <!-- /.container -->
		
		</div> <!-- .content -->
	
	</div>
  
{% endblock %}