{% extends "/property/base-property-body.html" %}

{% block content %}

	<div class="content">
		<div class="container">
      
			<div class="page-header">
				<h3 class="page-title">Wizard Component</h3>
			</div> <!-- /.page-header -->

			<p class="">jQuery Steps is a smart UI component which allows you to easily create wizard-like interfaces. This plugin groups content into sections for a more structured and orderly page view. Furthermore, it is as simple as 1-2-3 to add plugins such as jQuery Validation which can prevent step changing or submission. Check out the demos and get a first-hand impression!</p>
			<input type="checkbox" checked data-toggle="toggle">
			<br/><br/>
      

		</div> <!-- /.container -->

	</div> <!-- .content -->

{% endblock %}

