{% extends "/property/base-property-body.html" %}

{% block content %}

	<div class="content">

	    <div class="container" id="container-medium-width">

			<div class="row {% if p %}property-{{ p.address }}{% endif %}">

		        <div class="col-md-4 col-sm-5">

					<div class="portlet portlet-boxed">

						<div class="portlet-header">
							<h4 class="portlet-title">
								Investment Summary
							</h4>
							{% if profile.user_id not in [0, -1] %}
							<span id="lblrefresh" class="float-right" data-address="{{ p.address }}">
								{% if p.refresh != '' %}
								<i id="refresh" class="fa fa-refresh kv-icon kv-icon-secondary ui-tooltip"
								data-toggle="tooltip" data-placement="top"
								data-original-title="Reset this property"></i>
								{% endif %}
							</span>
							{% endif %}
						</div> <!-- /.portlet-header -->

			            <div class="portlet-body" >

							<table class="table keyvalue-table">
								<tbody>
									<tr>
										<td class="kv-key">
											<i class="fa fa-certificate kv-icon kv-icon-warning"></i>Estimated Value
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Certified by Zillow.com"
												data-content="This number can not be changed and is currently what Zillow estimates the property value to be.
												If you're buying this property for less than the Estimated Value than it's likely you will have some equity built
												into your purchase. Sweet!">?
											</span>
										</td>
										<td class="kv-value">$<span id="lblvaluation" class="editable" onclick="javascript:void(0);">{{ p.hard.valuation }}</span></td>
									</tr>
									<tr>
										<td class="kv-key">
											<i class="fa fa-home kv-icon kv-icon-primary"></i>Purchase Price
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="How much you buy the property for."
												data-content="The success of a rental property purchase relies heavily on this number. Make no mistake, the
												easiest way to improve cash flow is to reduce how much the property costs. Unless you're getting a great deal
												this number should probably be lower than the Estimated Value provided by Zillow.">?
											</span>
										</td>
										<td class="kv-value">$<span id="lblpurchase_price" class="editable" onclick="javascript:void(0);">{{ p.hard.purchase_price }}</span></td>
									</tr>
									<tr>
										<td class="kv-key">
											<i class="fa fa-dollar kv-icon kv-icon-primary"></i>Upfront Cost
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Money upfront needed to aquire the property."
												data-content="If you are taking out a mortgage this number will be your down payment, plus your closing costs,
												plus any rennovation costs. If you buy the property outright without a mortgage this will be any closing costs
												plus any rennovation costs.">?
											</span>
										</td>
										<td class="kv-value">$<span id="lbltotal_cost">{{ p.calc.total_cost }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-trophy kv-icon kv-icon-success"></i>Rent Estimate
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Certified by Zillow.com"
												data-content="This number is Zillow's estimate of what this property will rent for. It's not always right but
												it's usually very close.">?
											</span>
										</td>
										<td class="kv-value">$<span id="lblrent" class="editable" onclick="javascript:void(0);">{{ p.hard.rent }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Annual NOI
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Income after Property Expenses"
												data-content="Net operating income (NOI) is simply the annual income generated by an income-producing property
												after taking into account all income collected from operations, and deducting all expenses incurred from operations.
												NOI excludes any financing or tax costs incurred by the owner/investor. In other words, the NOI
												is unique to the property, rather than the investor.">?
											</span>
										</td>
										<td class="kv-value">$<span id="lblnoi">{{ p.calc.noi }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-percent kv-icon kv-icon-tertiary"></i>Gross Yield
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Monthly Rent x 12 &divide; Purchase Price"
												data-content="This is the raw return of the property. It's a great first-step comparison metric.">?
											</span>
										</td>
										<td class="kv-value"><span id="lblgross_yield">{{ p.calc.gross_yield }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>Cap Rate
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Annual NOI &divide; Purchase Price"
												data-content="The annual return on investment without financing. Return if you bought the property in full, in cash.">?
											</span>
										</td>
										<td class="kv-value"><span id="lblpurchase_cap_rate">{{ p.calc.purchase_cap_rate }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key last-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>Cash on Cash
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="( NOI - Financing ) &divide; Cash Invested"
												data-content="Cash on Cash (CoC ROI) is the actual return you will get on this investment. It takes into account all
												property specific expenses (NOI), the cost of financing and how much you paid for the entire deal.">?
											</span>
										</td>
										<td class="kv-value last-key"><span id="lblcash_on_cash">{{ p.calc.cash_on_cash }}</span>%</td>
									</tr>
								</tbody>
							</table>

						</div> <!-- /.portlet-body -->

					</div> <!-- /.portlet -->

					<div class="portlet portlet-boxed">

						<div class="portlet-header">
							<h4 class="portlet-title">
								Cash Flow
							</h4>
						</div> <!-- /.portlet-header -->

						<div class="portlet-body">

							<table class="table keyvalue-table">
								<tbody>
									<tr>
										<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Annual Income
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Your profit after all expenses."
												data-content="If this number isn't positive that means you'll lose money every year on this property. If it's positive,
												that's how much you'll earn. This doesn't account for vacancy or things breaking. We do estimate those for you in Cost Assumptions
												and suggest you hold that money aside just in case.">?
											</span>
										</td>
										<td class="kv-value {% if p.calc.annual_cashflow|replace(',','')|int > 0 %}text-success{% else %}text-primary{% endif %}">$<span id="lblannual_cashflow">{{ p.calc.annual_cashflow }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Monthly Income
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Your monthly profit after all expenses."
												data-content="This is just Annual Cash Flow divided by 12. It's also the sexiest number on this page.">?
											</span>
										</td>
										<td class="kv-value {% if p.calc.ideal_cashflow|replace(',','')|int > 0 %}text-success{% else %}text-primary{% endif %}">$<span id="lblideal_cashflow">{{ p.calc.ideal_cashflow }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-balance-scale kv-icon kv-icon-tertiary"></i>Medium Term
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="The 15% Rule ~ Vacancy + CapEx"
												data-content="Things break and need to be replaced - we should be prepared. This is an estimation of what
												your medium term cash flow will be accounting for Vacancy and minor/major repairs. You should strive to be positive here.
												Formula: Rent minus the Mortgage Payment minus Vacancy reserve minus CapEx reserve.">?
											</span>
										</td>
										<td class="kv-value {% if p.calc.medium_cashflow|replace(',','')|int > 0 %}text-success{% else %}text-primary{% endif %}">$<span id="lblmedium_cashflow">{{ p.calc.medium_cashflow }}</span></td>
									</tr>
									<tr>
										<td class="kv-key"><i class="fa fa-umbrella kv-icon kv-icon-tertiary"></i>Long Term
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="The 50% Rule."
												data-content="Like the 15% rule only much more pessimistic. In the very long term you may need to replace a roof, renovate a kitchen and
												account for vacancy. While not necessary, if you are positive here you can weather most any storm and still make money.
												Formula: 50% of monthly Rent minus the monthly Mortgage Payment.">?
											</span>
										</td>
										<td class="kv-value {% if p.calc.long_cashflow|replace(',','')|int > 0 %}text-success{% else %}text-primary{% endif %}">$<span id="lbllong_cashflow">{{ p.calc.long_cashflow }}</span></td>
									</tr>
									<tr class="mortgage_item">
										<td class="kv-key last-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>First Year Equity
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Principle gained via mortgage payments."
												data-content="This is how much equity you will gain in the property by making mortgage payments. You can absolutely consider
												this part of your profit.">?
											</span>
										</td>
										<td class="kv-value last-key {% if p.calc.first_year_principle|replace(',','')|int > 0 %}text-success{% else %}text-primary{% endif %}">$<span id="lblfirst_year_principle">{{ p.calc.first_year_principle }}</span></td>
									</tr>
									<!--
									<tr>
									<td class="kv-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>First Year Appreciation
									<span class="badge badge-tertiary ui-popover"
									data-toggle="tooltip" data-placement="top" data-trigger="hover"
									data-original-title="Principle gained via appreciation."
									data-content="This is how much equity you will gain in the property through appreciation. You can consider
									this part of your profit but don't get too excited. This largely rests on market trends and appraisals.">?
									</span>
									</td>
									<td class="kv-value">$-</td>
									</tr>
									-->
								</tbody>
							</table>

						</div> <!-- /.portlet-body -->

					</div> <!-- /.portlet -->

				</div> <!-- /.col -->


		        <div class="col-md-8 col-sm-7">
					<div class="portlet portlet-boxed">

						<div class="portlet-header">
							<h4 class="portlet-title">
							{{ p.pretty_address }}
							{% if p.portfolio_name %}
							<a href="/property/group/{{ p.portfolio_name.lower()|replace(' ', '_') }}" style="color: white;">
							<span class="label label-overview label-success">
								{{ p.portfolio_name }}
							</span>
							</a>
							{% endif %}
							</h4>
							<span id="lblrefresh" class="float-right" data-address="{{ p.address }}">
								{% if profile.user_id not in [0, -1] %}
								<i data-toggle="modal" href="#saveModal" id="saveModalButton"
								class="fa fa-save kv-icon ui-tooltip {% if p.portfolio_id %}kv-icon-success{% endif %}"
								data-toggle="tooltip" data-placement="top"
								data-original-title="Save your calculations"></i>
								<i data-toggle="modal" href="#shareModal" class="fa fa-share kv-icon ui-tooltip"
								onclick="javascript:Intercom('trackEvent', 'share-property-click');"
								data-toggle="tooltip" data-placement="top"
								data-original-title="Share"></i>
								{% endif %}
							</span>
						</div> <!-- /.portlet-header -->

						<div class="portlet-body">
							<h5 class="description-header">
								{% if p.soft.bedrooms %}{{ p.soft.bedrooms }} beds - {% endif %}
								{% if p.soft.bathrooms %}{{ p.soft.bathrooms }} baths - {% endif %}
								{% if p.soft.finished_sqft %}{{ p.soft.finished_sqft }} sqft{% endif %}
							</h5>

							<ul id="myTab2" class="nav nav-pills map-pills">
								<li class="active">
									<a href="#location-2" data-toggle="tab">Location</a>
								</li>
								{% if p.sales_history |length > 0 %}
								<li >
									<a href="#sales-history" data-toggle="tab">Sales history</a>
								</li>
								{% endif %}
								{% if school != ''%}
								<li class="school">
									<a href="#school-2" id="school" data-toggle="tab">School</a>
								</li>
								{% endif %}
								<li>
									<a href="#photos-2" data-toggle="tab">Photos</a>
								</li>
							</ul>
							<div class="clearfix"></div>

							<div id="myTab2Content" class="tab-content">

								<div class="tab-pane fade in active" id="location-2">
									<p>
										<div id="map" style="height: 340px;"></div>
										<script>
											var map;
											var marker;
											var map_center;

											function initMap() {
												{% if p.hard.latitude and p.hard.longitude %}
													map_center = { lat: {{ p.hard.latitude }}, lng: {{  p.hard.longitude }} };
														map = new google.maps.Map(document.getElementById('map'), {
														center: map_center,
														scrollwheel: false,
														zoom: 16
													});

													marker = new google.maps.Marker({
														position: map_center,
														map: map,
														title: 'Property'
													});

													google.maps.event.addDomListener(window, 'resize');
												{% endif %}
											}
										</script>
									</p>
								</div> <!-- /.tab-pane -->
								{% if p.sales_history |length > 0 %}
								<div class="tab-pane fade" id="sales-history">
									<p>
										<div class="portlet-body">
											<div class="table-responsive">
												<table class="table table-striped" id="amort-table">
													<thead>
														<tr>
															<th>Record date</th>
															<th>Event type</th>
															<th>Grantee</th>
															<th>Grantor</th>
															<th>Amount</th>

														</tr>
													</thead>
												<tbody >
													{% for history in p.saleshistory %}
														<tr>
															<td nowrap>
																{{history.record_date}}
															</td>
															<td>{{history.event_type}}</td>
															<td>
																{{history.grantee}}
															</td>
															<td>
																{{history.grantor}}
															</td>
															<td>
																${{history.amount}}
															</td>

														</tr>
													{% endfor %}
												</tbody>
												</table>
											</div>
										</div> <!-- /.portlet-body -->
									</p>
								</div>
								{% endif %}

								{% if school != '' %}
								<div id="school-2" class="tab-pane fade ">
									<div class="row">
										<div class="col-md-6">
											<p></p>
											<div class="list-school">
												<div class="item-list">
													<table class="item" id="itemSchool">
														<tr data-key="0">
															<td valign="middle">

																<div class="td">
																	<div class="section-score">
																		<div class="score"  style="background-color: {{school.elementary_bg}}">
																			<div class="text">
																				{{school.elementary_score}}
																			</div>
																		</div>
																		out of 100
																	</div>

																	<div class="info">
																		<div><strong>{{school.elementary_name}}</strong></div>
																		<div>Address: {{school.elementary_address}}</div>
																		<div>Distance: {{school.elementary_distance_miles}}</div>
																	</div>
																</div>
															</td>

														</tr>
														<tr data-key="1">
															<td>
																<div class="td">
																	<div class="section-score">
																		<div class="score"  style="background-color: {{school.middle_bg}}">
																			<div class="text">
																				{{school.middle_score}}
																			</div>
																		</div>
																		out of 100
																	</div>
																	<div class="info">
																		<div><strong>{{school.middle_name}}</strong></div>
																		<div>Address: {{school.middle_address}}</div>
																		<div>Distance: {{school.middle_distance_miles}}</div>
																	</div>
																</div>
															</td>

														</tr>
														<tr data-key="2">
															<td>
																<div class="td">
																	<div class="section-score">
																		<div class="score" style="background-color: {{school.high_bg}}" >
																			<div class="text">
																				{{school.high_score}}
																			</div>
																		</div>
																		out of 100
																	</div>
																	<div class="info">
																		<div><strong>{{school.high_name}}</strong></div>
																		<div>Address: {{school.high_address}}</div>
																		<div>Distance: {{school.high_distance_miles}}</div>
																	</div>
																</div>
															</td>

														</tr>
													</table>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="container-map-school">
												<p></p>
												<div id="mapSchool" style="height: 379px;width: 100%">
													<script>
														var mapSchool;
														var listMarker = [];
														var latlngboundSchool;
														var latlngSchool = [];

														function initMapSchool() {
															mapSchoolCenter = { lat: {{ p.hard.latitude }}, lng: {{  p.hard.longitude }} };

															mapSchool = new google.maps.Map(document.getElementById("mapSchool"), {
																center: mapSchoolCenter,
																scrollwheel: false,
															});
															markerSchool = new google.maps.Marker({
																position: mapSchoolCenter,
																map: mapSchool
															});

															latlngboundSchool = new google.maps.LatLngBounds();
															latlngSchool.push(new google.maps.LatLng( {{ p.hard.latitude }}, {{  p.hard.longitude }}));
															latlngSchool.push(new google.maps.LatLng( {{ school.elementary_coordinate.lat }}, {{  school.elementary_coordinate.lng }}));
															latlngSchool.push(new google.maps.LatLng( {{ school.middle_coordinate.lat }}, {{  school.middle_coordinate.lng }}));
															latlngSchool.push(new google.maps.LatLng( {{ school.high_coordinate.lat }}, {{  school.high_coordinate.lng }}));
															for (var i = 0; i < latlngSchool.length; i++) {
																latlngboundSchool.extend(latlngSchool[i]);
															}

															mapSchool.setCenter(latlngboundSchool.getCenter());
															mapSchool.fitBounds(latlngboundSchool);
															listMarker.push(new CustomMarker(
																new google.maps.LatLng({{school.elementary_coordinate.lat}}, {{school.elementary_coordinate.lng}}),
																mapSchool,
																{
																	marker_id: '{{school.elementary_name}}'
																},
																{
																	name: '{{school.elementary_name}}',
																	address: '{{school.elementary_address}}',
																	distance: '{{school.elementary_distance_miles}}',
																	background: '{{school.elementary_bg}}',
																	score: '{{school.elementary_score}}',
																	keyIndex: 0
																}
															))
															listMarker.push(new CustomMarker(
																new google.maps.LatLng({{school.middle_coordinate.lat}}, {{school.middle_coordinate.lng}}),
																mapSchool,
																{
																	marker_id: '{{school.middle_name}}'
																},
																{
																	name: '{{school.middle_name}}',
																	address: '{{school.middle_address}}',
																	distance: '{{school.middle_distance_miles}}',
																	background: '{{school.middle_bg}}',
																	score: '{{school.middle_score}}',
																	keyIndex: 1
																}
															))
															listMarker.push(new CustomMarker(
																new google.maps.LatLng({{school.high_coordinate.lat}}, {{school.high_coordinate.lng}}),
																mapSchool,
																{
																	marker_id: '{{school.high_name}}'
																},
																{
																	name: '{{school.high_name}}',
																	address: '{{school.high_address}}',
																	distance: '{{school.high_distance_miles}}',
																	background: '{{school.high_bg}}',
																	score: '{{school.high_score}}',
																	keyIndex: 2
																}
															))



														}
														schoolInterval = setInterval(function(){

															if($('#school-2').hasClass('active')) {

																clearInterval(schoolInterval);
																initMapSchool();
															}
														},200);
													</script>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}

								<div class="tab-pane fade" id="photos-2">

											{% if p.soft.images is defined %}
												{% if p.soft.images is not none %}
													{% if p.soft.images.image.url is not string %}
													<div id="myCarousel" class="carousel slide" data-ride="carousel">
														<!-- Carousel indicators -->
														<ol class="carousel-indicators">
															{% for url in p.soft.images.image.url %}
																<li data-target="#myCarousel" data-slide-to="{{ (loop.index-1) }}" class="{% if loop.index == 1 %}active{% endif %}"></li>
															{% endfor %}
														</ol>
													{% endif %}
												{% endif %}
											{% endif %}



											{% if p.soft.images is defined %}
												{% if p.soft.images is not none %}
													{% if p.soft.images.image.url is not string %}
														<!-- Wrapper for carousel items -->
														<div class="carousel-inner">
														{% for url in p.soft.images.image.url %}

															<div class="item {% if loop.index == 1 %}active{% endif %}">
																<img src="{{ url|replace("http:", "") }}" />
															</div>

														{% endfor %}
														</div>
														<!-- Carousel controls -->
														<a class="carousel-control left" href="#myCarousel" data-slide="prev">
															<span class="glyphicon glyphicon-chevron-left"></span>
														</a>
														<a class="carousel-control right" href="#myCarousel" data-slide="next">
															<span class="glyphicon glyphicon-chevron-right"></span>
														</a>
													</div>
													{% else %}
														<div class="item">
															<img src="{{ p.soft.images.image.url|replace("http:", "") }}" />
														</div>
													{% endif %}
												{% else %}
													<p>No photos available.</p>
												{% endif %}
											{% else %}
												<p>No photos available.</p>
											{% endif %}



								</div> <!-- /.tab-pane -->

							</div> <!-- /.tab-content -->

						</div> <!-- /.portlet-body -->

					</div> <!-- /.portlet -->

				</div> <!-- /.col -->

				<div class="col-md-4 col-sm-5">

					<div class="portlet portlet-boxed">

						<div class="portlet-header">
							<h4 class="portlet-title">
								Acquisition Costs
							</h4>
						</div> <!-- /.portlet-header -->

						<div class="portlet-body" >

							<table class="table keyvalue-table">
								<tbody>
									<tr>
										<td class="kv-key kv-header">Down Payment
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Cash required for financing."
												data-content="The Down Payment is the amount of cash you contribute to a financing deal. The bank funds the remainder of the purchase price in the form of a mortgage.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lbldown_payment_dollar" class="editable" onclick="javascript:void(0);">{{ p.mortgage.down_payment_dollar }}</span></td>
										<td class="kv-value kv-footer"><span id="lbldown_payment_percent" class="editable" onclick="javascript:void(0);">{{ p.mortgage.down_payment_percent }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Closing Costs
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="The cost of the transaction."
												data-content="Closing costs are fees paid at the closing of a transaction. Often included in these costs are the mortgage origination fee, appraisal and escrowed property taxes.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblclosing_costs_dollar" class="editable" onclick="javascript:void(0);">{{ p.cost.closing_costs_dollar }}</span></td>
										<td class="kv-value kv-footer"><span id="lblclosing_costs_percent" class="editable" onclick="javascript:void(0);">{{ p.cost.closing_costs_percent }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Renovation Budget
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Does this property need some love?"
												data-content="If this property requires improvement you include the cost here in order to property calculate the return of your investment.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblrenovation_budget" class="editable" onclick="javascript:void(0);">{{ p.cost.renovation_budget }}</span></td>
										<td class="kv-value kv-footer"></td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Use A Mortgage
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Will you use leverage?"
												data-content="In most cases getting a mortgage will significantly improve your return. However, not everybody is into that so if you want to see the cash flow without leverage just toggle this to No.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">
											<input class="mortgage_toggle" type="checkbox" name="enable-mortgage"
											data-on-text="YES" data-off-text="NO" data-on-color="success"
											{% if p.mortgage.down_payment_percent != "100.00" %}checked{% endif %}>
										</td>
										<td class="kv-value kv-footer"></td>
									</tr>
									<tr class="mortgage_item">
										<td class="kv-key kv-header">Mortgage Rate</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr class="mortgage_item">
										<td class="kv-value kv-footer text-left"><span id="lblrate" class="editable" onclick="javascript:void(0);">{{ p.mortgage.rate }}</span>%</td>
										<td class="kv-value kv-footer"></td>
									</tr>
									<tr class="mortgage_item">
										<td class="kv-key last-key kv-header">Mortgage Term</td>
										<td class="kv-value last-key kv-header"></td>
									</tr>
									<tr class="mortgage_item">
										<td class="kv-value last-key kv-footer text-left"><span id="lblterm" class="editable" onclick="javascript:void(0);">{{ p.mortgage.term }}</span> years</td>
										<td class="kv-value last-key kv-footer"></td>
									</tr>
								</tbody>
							</table>

						</div> <!-- /.portlet-body -->

					</div> <!-- /.portlet -->

				</div> <!-- /.col -->

				<div class="col-md-4 col-sm-5">

					<div class="portlet portlet-boxed">

						<div class="portlet-header">
							<h4 class="portlet-title">
								Ongoing Costs
							</h4>
						</div> <!-- /.portlet-header -->

						<div class="portlet-body" >

							<table class="table keyvalue-table">
								<tbody>
									<tr>
										<td class="kv-key kv-header">Property Taxes</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblproperty_taxes" class="editable" onclick="javascript:void(0);">{{ p.cost.property_taxes }}</span><span class="kv-small">/year</span></td>
										<td class="kv-value kv-footer"></td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Property Insurance</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblproperty_insurance" class="editable" onclick="javascript:void(0);">{{ p.cost.property_insurance }}</span><span class="kv-small">/year</span></td>
										<td class="kv-value kv-footer"></td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Property Management</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblproperty_management_dollar" class="editable" onclick="javascript:void(0);">{{ p.cost.property_management_dollar }}</span><span class="kv-small">/month</span></td>
										<td class="kv-value kv-footer"><span id="lblproperty_management_percent" class="editable" onclick="javascript:void(0);">{{ p.cost.property_management_percent }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Vacancy Rate
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="The rate a property is left vacant."
												data-content="The Vacancy Rate is location specific and is used to calculate long term costs in the form of lost income. Often this is broken down to an average monthly cost or suggested monthly reserve contribution.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblvacancy_rate_dollar" class="editable" onclick="javascript:void(0);">{{ p.cost.vacancy_rate_dollar }}</span><span class="kv-small">/month</span></td>
										<td class="kv-value kv-footer"><span id="lblvacancy_rate_percent" class="editable" onclick="javascript:void(0);">{{ p.cost.vacancy_rate_percent }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key kv-header">Major / Minor CapEx
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="The cost of things breaking."
												data-content="This is an estimation on the long term break-fix costs for a property. Since breaks do not happen often but can be a sizable sum, the CapEx rate is used as a suggested contribution to your reserve account. 10% is a common rule of thumb.">?
											</span>
										</td>
										<td class="kv-value kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value kv-footer text-left">$<span id="lblcapex_dollar" class="editable" onclick="javascript:void(0);">{{ p.cost.capex_dollar }}</span><span class="kv-small">/month</span></td>
										<td class="kv-value kv-footer"><span id="lblcapex_percent" class="editable" onclick="javascript:void(0);">{{ p.cost.capex_percent }}</span>%</td>
									</tr>
									<tr>
										<td class="kv-key last-key kv-header">HOA / Misc
											<span class="badge badge-tertiary ui-popover"
												data-toggle="tooltip" data-placement="top" data-trigger="hover"
												data-original-title="Home Owners Association + Misc Costs"
												data-content="Some properties are part of a Home Owners Association which pays for common services like garbage pickup, lawn care or apartment building electricity. Any reoccuring miscellaneous costs should be included here.">?
											</span>
										</td>
										<td class="kv-value last-key kv-header"></td>
									</tr>
									<tr>
										<td class="kv-value last-key kv-footer text-left">$<span id="lblhoa_misc" class="editable" onclick="javascript:void(0);">{{ p.cost.hoa_misc }}</span><span class="kv-small">/month</span></td>
										<td class="kv-value  last-key kv-footer"></td>
									</tr>
								</tbody>
							</table>

						</div> <!-- /.portlet-body -->

					</div> <!-- /.portlet -->

				</div> <!-- /.col -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		{% if profile.user_id not in [-1] %}
		<div id="saveModal" class="modal modal-styled fade">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">Property Details</h3>
					</div> <!-- /.modal-header -->

					<div class="modal-body">
						<p>
							Property Groups can help you track current and potential investments. They'll also a great way to help keep your properties organized.
						</p>
						<hr>
						{% if (portfolios is defined) and portfolios %}
						<br/><h5>Details about your purchase:</h5>
						<div class="col-md-12">
							<form class="form-horizontal">

								<div class="form-group">
									<div class="col-md-12 checkbox purchase-checkbox">
										<label><input type="checkbox">I own this property</label>
									</div>
									<div class="row purchase-detail">
										<div class="col-md-12">
											<div class="col-sm-4">
												<label>
													<div class="input-group date" data-provide="datepicker">
														<input type="text" placeholder="Date of Purchase" class="form-control pc-datepicker">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</div>
													</div>
												</label>
											</div>
											<div class="col-sm-5">
												<label>
													<div class="input-group date" data-provide="datepicker">
														<input type="text" placeholder="Tenant Start Date" class="form-control py-datepicker">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</div>
													</div>
												</label>
											</div>
											<div class="col-sm-3">
												<div class="input-group">
													<select class="form-control">
														<option>12 months</option>
														<option>24 months</option>
														<option>36 months</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-sm-4">
												<label>
													<div class="input-group date" data-provide="datepicker">
														<input type="text" placeholder="Date of Insurance" class="form-control py-datepicker">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</div>
													</div>
												</label>
												<!-- <label><input class="form-control p-datepicker" placeholder="Insurance date" /></label> -->
											</div>
											<div class="col-sm-5">
												<label>
													<div class="input-group date" data-provide="datepicker">
														<input type="text" placeholder="Insurance Start Date" class="form-control py-datepicker">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</div>
													</div>
												</label>
											</div>
											<div class="col-sm-3">
												<div class="input-group">
													<select class="form-control">
														<option>12 months</option>
														<option>24 months</option>
														<option>36 months</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-sm-6">
												<label>
													<div class="input-group">
														<input type="text" placeholder="Property Management Company Name" class="form-control">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-info-sign"></span>
														</div>
													</div>
												</label>
												<!-- <label><input class="form-control" placeholder="Company Name" /></label> -->

											</div>
											<div class="col-sm-6">
												<label>
													<div class="input-group">
														<input type="text" placeholder="Property Management Company Website" class="form-control">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-link"></span>
														</div>
													</div>
												</label>
												<!-- <label><input class="form-control" placeholder="Website" /></label> -->
											</div>
										</div>

										<div class="col-md-12">
											<label class="col-sm-3 control-label" for="p-group1">Property Group:</label>
											<div class="col-sm-7">
												<select class="form-control" id="p-group1">
													{% for portfolio in portfolios %}
													<option value="{{ portfolio['portfolio_id'] }}">{{ portfolio['portfolio_name'] }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-sm-2">
												<button class="btn btn-secondary portfolio-button form-control" type="button">Save</button>
											</div>
										</div>

									</div>
								</div>

							</from>
						</div>
						<div class="clearfix"></div><br>
						<!-- <br/><h5>Add to an existing group:</h5>
						<div class="col-md-12">
							<table class="table keyvalue-table">
								<tbody>

								{% for portfolio in portfolios %}
									<tr>
										<td class="kv-key kv-header">{{ portfolio['portfolio_name'] }}</td>
										<td class="kv-value kv-header"><button class="btn btn-secondary portfolio-button" value="{{ portfolio['portfolio_id'] }}" type="button">Save</button></td>
									</tr>
								{% endfor %}

								</tbody>
							</table>
						</div>
						<div class="clearfix"></div><br/>
						<br/> -->
						{% endif %}
						<h5>Create a new property group:</h5>

						<div class="col-md-12">
							<form data-parsley-validate>
								<div class="input-group form-group">

									<input id="new-group" type="text" class="form-control" placeholder="Enter a property group name"
									autocomplete="off"
									data-parsley-trigger="keyup"
									data-parsley-error-message="Only letters, numbers and spaces are allowed."
									data-parsley-errors-container="#property-group-errors"
									data-parsley-validation-threshold="0"
									data-parsley-pattern="^[a-zA-Z0-9 ]+$" required>
									<span class="input-group-btn">
										<button id="create-group-button" class="btn btn-success portfolio-create-button" type="button" disabled>Create New</button>
									</span>

								</div><!-- /input-group -->
								<div id="property-group-errors"></div>
							</form>
						</div>

						<div class="clearfix"></div><br/>
					</div> <!-- /.modal-body -->

					<div class="modal-footer">
						<button type="button" id="removesave" class="btn btn-primary">Remove Property</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div> <!-- /.modal-footer -->

				</div> <!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="shareModal" class="modal modal-styled fade">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title">Share this property evaluation.</h3>
					</div> <!-- /.modal-header -->

					<div class="modal-body">
						<p>
							Want to share a potential investment with a family member? Show an investor the financials of a property you're selling?
						</p>
						<p>
							Generate a link here to share a read-only copy of your calculations exactly as you see it.
						</p>
						<hr>
						{% if p.portfolio_id %}
						<p>
							A link to your unique calculations:
							<input type="text" class="form-control" readonly="readonly" value="https://pro.listenmoneymatters.com/share/{{ p.hashid }}">
						</p>
						{% else %}
						<p id="shareable_button">
							<button type="button" class="btn btn-secondary generate-share-button">Generate Shareable Link</button>
						</p>
						{% endif %}
					</div> <!-- /.modal-body -->

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div> <!-- /.modal-footer -->

				</div> <!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		{% else %}
		<div id="createAccountModal" class="modal modal-styled fade">
			<div class="modal-dialog">
				<div class="modal-content modal-login">

					<div class="modal-body">
						<center>
							<img src="https://www.listenmoneymatters.com/wp-content/themes/LMMv4/images/login_header.png"
							alt="Listen Money Matters Community" border="0" style="margin: 0px;"
							id="headerImage">
							<p>
								<h2>Get started with a free account</h2>
								<p class="signup">Create a free account to evaluate and track rental properties.</p>
							</p><br/>
						</center>

						<div id="root" style="width: 320px; margin: 0px auto; padding: 10px;">
						</div>
						<script>
							var options = {
								container: 'root',
								auth: {
									redirectUrl: AUTH0_CALLBACK_URL,
									responseType: 'code',
									params: {
										scope: 'openid email'
									}
								},
								logo: 'https://www.listenmoneymatters.com/wp-content/themes/LMMv4/images/login_header.png',
								socialButtonStyle: 'big',
								allowSignUp: true,
								allowLogin: false,
								initialScreen: 'signUp'
							}
							var lock = new Auth0Lock(AUTH0_CLIENT_ID, AUTH0_DOMAIN, options);
						   lock.show();
						</script>
						<br/><br/>
						<center>
							<p class="signup">Already have an account? <a href="/login?redirectURL={{ request.url }}">Log in here.</a></p>
						</center>
					</div> <!-- /.modal-body -->

				</div> <!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{% endif %}

	</div> <!-- .content -->

{% endblock %}
