
										<center>
											<div class="centerme">
											
												<div id="locationField">
													<div class="has-feedback has-feedback-left">
														<input id="autocomplete" class="form-control" placeholder="Enter the address of a property" onfocus="geolocate()" type="text" autocomplete="off">
												    	<div class="form-control-feedback form-control-property">
															<i id="search_icon" class="fa fa-search"></i>
								                        </div>
							                        </div>
											    </div>
												
												<div style="display: none;">
													<table id="address">
														<tr>
															<td class="label">Street address</td>
															<td class="slimField">
																<input class="field" id="street_number"></input>
															</td>
															<td class="wideField" colspan="2">
																<input class="field" id="route"></input>
															</td>
														</tr>
														<tr>
															<td class="label">City</td>
															<td class="wideField" colspan="3">
																<input class="field" id="locality"></input>
															</td>
														</tr>
														<tr>
															<td class="label">State</td>
															<td class="slimField">
																<input class="field" id="administrative_area_level_1"></input>
															</td>
															<td class="label">Zip code</td>
															<td class="wideField">
																<input class="field" id="postal_code"></input>
															</td>
														</tr>
														<tr>
															<td class="label">Country</td>
															<td class="wideField" colspan="3">
																<input class="field" id="country"></input>
															</td>
														</tr>
													</table>
												</div>
												
												<div id="suggestions"></div>
											</div>	
											<div class="clearfix"></div>
										</center>
									