{% if property %}
<div class="property-{{ property.address }}">
	<!-- Add location to list -->
	<script>
		{% if property.hard.latitude and property.hard.longitude %}
			locations.push({ lat: {{ property.hard.latitude }}, lng: {{ property.hard.longitude }}, title:"{{ property.pretty_address }}" });
		{% endif %}
	</script>
	
	<h5 class="min-height-18">
		{% if property.soft.bedrooms %}{{ property.soft.bedrooms }} beds - {% endif %}
		{% if property.soft.bathrooms %}{{ property.soft.bathrooms }} baths - {% endif %}
		{% if property.soft.finished_sqft %}{{ property.soft.finished_sqft }} sqft{% endif %}
	</h5>
	<div class="property-info-title">
		Investment Summary
	</div>
	
	<table class="table keyvalue-table">
		<tbody>
			<tr>
				<td class="kv-key">
					<i class="fa fa-certificate kv-icon kv-icon-warning"></i>Estimated Value
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Certified by Zillow.com"
						data-content="This number can not be changed and is currently what Zillow estimates the property value to be.
						If you're buying this property for less than the Estimated Value than it's likely you will have some equity built
						into your purchase. Sweet!">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblvaluation" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.hard.valuation }}</span></td>
			</tr>
			<tr>
				<td class="kv-key">
					<i class="fa fa-home kv-icon kv-icon-primary"></i>Purchase Price
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="How much you buy the property for."
						data-content="The success of a rental property purchase relies heavily on this number. Make no mistake, the
						easiest way to improve cash flow is to reduce how much the property costs. Unless you're getting a great deal
						this number should probably be lower than the Estimated Value provided by Zillow.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblpurchase_price" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.hard.purchase_price }}</span></td>
			</tr>
			<tr>
				<td class="kv-key">
					<i class="fa fa-dollar kv-icon kv-icon-primary"></i>Upfront Cost
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Money upfront needed to aquire the property."
						data-content="If you are taking out a mortgage this number will be your down payment, plus your closing costs,
						plus any rennovation costs. If you buy the property outright without a mortgage this will be any closing costs
						plus any rennovation costs.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lbltotal_cost">{{ property.calc.total_cost }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-trophy kv-icon kv-icon-success"></i>Rent Estimate
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Certified by Zillow.com"
						data-content="This number is Zillow's estimate of what this property will rent for. It's not always right but
						it's usually very close.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblrent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.hard.rent }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Annual NOI
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Income after Property Expenses"
						data-content="Net operating income (NOI) is simply the annual income generated by an income-producing property
						after taking into account all income collected from operations, and deducting all expenses incurred from operations.
						NOI excludes any financing or tax costs incurred by the owner/investor. In other words, the NOI
						is unique to the property, rather than the investor.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblnoi">{{ property.calc.noi }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-percent kv-icon kv-icon-tertiary"></i>Gross Yield
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Monthly Rent x 12 &divide; Purchase Price"
						data-content="This is the raw return of the property. It's a great first-step comparison metric.">?
					</span>
				</td>
				<td class="kv-value"><span id="lblgross_yield">{{ property.calc.gross_yield }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>Cap Rate
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Annual NOI &divide; Purchase Price"
						data-content="The annual return on investment without financing. Return if you bought the property in full, in cash.">?
					</span>
				</td>
				<td class="kv-value"><span id="lblpurchase_cap_rate">{{ property.calc.purchase_cap_rate }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key last-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>Cash on Cash
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="( NOI - Financing ) &divide; Cash Invested"
						data-content="Cash on Cash (CoC ROI) is the actual return you will get on this investment. It takes into account all
						property specific expenses (NOI), the cost of financing and how much you paid for the entire deal.">?
					</span>
				</td>
				<td class="kv-value last-key"><span id="lblcash_on_cash">{{ property.calc.cash_on_cash }}</span>%</td>
			</tr>
		</tbody>
	</table>
	
	<div class="property-info-title">
		Cash Flow
	</div>
	
	<table class="table keyvalue-table">
		<tbody>
			<tr>
				<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Annual
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Your profit after all expenses."
						data-content="If this number isn't positive that means you'll lose money every year on this property. If it's positive,
						that's how much you'll earn. This doesn't account for vacancy or things breaking. We do estimate those for you in Cost Assumptions
						and suggest you hold that money aside just in case.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblannual_cashflow">{{ property.calc.annual_cashflow }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-success"></i>Monthly
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Your monthly profit after all expenses."
						data-content="This is just Annual Cash Flow divided by 12. It's also the sexiest number on this page.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblideal_cashflow">{{ property.calc.ideal_cashflow }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-balance-scale kv-icon kv-icon-tertiary"></i>Medium Term
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="The 15% Rule ~ Vacancy + CapEx"
						data-content="Things break and need to be replaced - we should be prepared. This is an estimation of what
						your medium term cash flow will be accounting for Vacancy and minor/major repairs. You should strive to be positive here.
						Formula: Rent minus the Mortgage Payment minus Vacancy reserve minus CapEx reserve.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lblmedium_cashflow">{{ property.calc.medium_cashflow }}</span></td>
			</tr>
			<tr>
				<td class="kv-key"><i class="fa fa-umbrella kv-icon kv-icon-tertiary"></i>Long Term
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="The 50% Rule."
						data-content="Like the 15% rule only much more pessimistic. In the very long term you may need to replace a roof, renovate a kitchen and
						account for vacancy. While not necessary, if you are positive here you can weather most any storm and still make money.
						Formula: 50% of monthly Rent minus the monthly Mortgage Payment.">?
					</span>
				</td>
				<td class="kv-value">$<span id="lbllong_cashflow">{{ property.calc.long_cashflow }}</span></td>
			</tr>
			<tr class="mortgage_item">
				<td class="kv-key last-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>First Year Equity
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Principle gained via mortgage payments."
						data-content="This is how much equity you will gain in the property by making mortgage payments. You can absolutely consider
						this part of your profit.">?
					</span>
				</td>
				<td class="kv-value last-key">$<span id="lblfirst_year_principle">{{ property.calc.first_year_principle }}</span></td>
			</tr>
			<!--
			<tr>
			<td class="kv-key"><i class="fa fa-line-chart kv-icon kv-icon-default"></i>First Year Appreciation
			<span class="badge badge-tertiary ui-popover"
			data-toggle="tooltip" data-placement="top" data-trigger="hover"
			data-original-title="Principle gained via appreciation."
			data-content="This is how much equity you will gain in the property through appreciation. You can consider
			this part of your profit but don't get too excited. This largely rests on market trends and appraisals.">?
			</span>
			</td>
			<td class="kv-value">$-</td>
			</tr>
			-->
		</tbody>
	</table>
	
	<div class="property-info-title">
		Acquisition Costs
	</div>
	
	<table class="table keyvalue-table">
		<tbody>
			<tr>
				<td class="kv-key kv-header">Down Payment
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Cash required for financing."
						data-content="The Down Payment is the amount of cash you contribute to a financing deal. The bank funds the remainder of the purchase price in the form of a mortgage.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lbldown_payment_dollar" class="editable" data-address="{{ property.address }}" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.mortgage.down_payment_dollar }}</span></td>
				<td class="kv-value kv-footer"><span id="lbldown_payment_percent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.mortgage.down_payment_percent }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Closing Costs
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="The cost of the transaction."
						data-content="Closing costs are fees paid at the closing of a transaction. Often included in these costs are the mortgage origination fee, appraisal and escrowed property taxes.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblclosing_costs_dollar" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.closing_costs_dollar }}</span></td>
				<td class="kv-value kv-footer"><span id="lblclosing_costs_percent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.closing_costs_percent }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Renovation Budget
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Does this property need some love?"
						data-content="If this property requires improvement you include the cost here in order to property calculate the return of your investment.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblrenovation_budget" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.renovation_budget }}</span></td>
				<td class="kv-value kv-footer"></td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Use A Mortgage
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Will you use leverage?"
						data-content="In most cases getting a mortgage will significantly improve your return. However, not everybody is into that so if you want to see the cash flow without leverage just toggle this to No.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">
					<input class="mortgage_toggle" type="checkbox" name="enable-mortgage"
					data-on-text="YES" data-off-text="NO" data-on-color="success" data-address="{{ property.address }}"
					{% if property.mortgage.down_payment_percent != "100.00" %}checked{% endif %}>
				</td>
				<td class="kv-value kv-footer"></td>
			</tr>
			<tr class="mortgage_item">
				<td class="kv-key kv-header">Mortgage Rate</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr class="mortgage_item">
				<td class="kv-value kv-footer text-left"><span id="lblrate" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.mortgage.rate }}</span>%</td>
				<td class="kv-value kv-footer"></td>
			</tr>
			<tr class="mortgage_item">
				<td class="kv-key last-key kv-header">Mortgage Term</td>
				<td class="kv-value last-key kv-header"></td>
			</tr>
			<tr class="mortgage_item">
				<td class="kv-value last-key kv-footer text-left"><span id="lblterm" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.mortgage.term }}</span> years</td>
				<td class="kv-value last-key kv-footer"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="property-info-title">
		Ongoing Costs
	</div>
	
	<table class="table keyvalue-table">
		<tbody>
			<tr>
				<td class="kv-key kv-header">Property Taxes</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblproperty_taxes" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.property_taxes }}</span><span class="kv-small">/year</span></td>
				<td class="kv-value kv-footer"></td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Property Insurance</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblproperty_insurance" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.property_insurance }}</span><span class="kv-small">/year</span></td>
				<td class="kv-value kv-footer"></td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Property Management</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblproperty_management_dollar" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.property_management_dollar }}</span><span class="kv-small">/month</span></td>
				<td class="kv-value kv-footer"><span id="lblproperty_management_percent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.property_management_percent }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Vacancy Rate
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="The rate a property is left vacant."
						data-content="The Vacancy Rate is location specific and is used to calculate long term costs in the form of lost income. Often this is broken down to an average monthly cost or suggested monthly reserve contribution.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblvacancy_rate_dollar" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.vacancy_rate_dollar }}</span><span class="kv-small">/month</span></td>
				<td class="kv-value kv-footer"><span id="lblvacancy_rate_percent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.vacancy_rate_percent }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key kv-header">Major / Minor CapEx
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="The cost of things breaking."
						data-content="This is an estimation on the long term break-fix costs for a property. Since breaks do not happen often but can be a sizable sum, the CapEx rate is used as a suggested contribution to your reserve account. 10% is a common rule of thumb.">?
					</span>
				</td>
				<td class="kv-value kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value kv-footer text-left">$<span id="lblcapex_dollar" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.capex_dollar }}</span><span class="kv-small">/month</span></td>
				<td class="kv-value kv-footer"><span id="lblcapex_percent" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.capex_percent }}</span>%</td>
			</tr>
			<tr>
				<td class="kv-key last-key kv-header">HOA / Misc
					<span class="badge badge-tertiary ui-popover"
						data-toggle="tooltip" data-placement="top" data-trigger="hover"
						data-original-title="Home Owners Association + Misc Costs"
						data-content="Some properties are part of a Home Owners Association which pays for common services like garbage pickup, lawn care or apartment building electricity. Any reoccuring miscellaneous costs should be included here.">?
					</span>
				</td>
				<td class="kv-value last-key kv-header"></td>
			</tr>
			<tr>
				<td class="kv-value last-key kv-footer text-left">$<span id="lblhoa_misc" class="editable" data-address="{{ property.address }}" onclick="javascript:void(0);">{{ property.cost.hoa_misc }}</span><span class="kv-small">/month</span></td>
				<td class="kv-value last-key kv-footer"></td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
